<div>
<h1>Exhibit Index Page</h1>
<%= button_to "New Exhibits", {action: "new"}, :method => "get"%>
    <% @exhibits.each do |exhibit| %>
    <ul>
        <li><%= link_to exhibit.name, exhibit %></li>
    </ul>
    <% end %>
</div>