<div>
<br/>
<nav class="body">
     <p><b>Welcome to Virtuseum!</b> In a time of technology we would like to share history with everyone without them having to leave their own homes. We would like to encourage private collectors to share their beloved pieces with the world without having to loan them out. We would also like to encourage museums to share their collections outside there four walls. This is a place to learn and share history.</p>
</nav>
</div>