<h1>Vituseum</h1>
    <br/>
    <nav class="navigation">
        <%= button_to "Current User / Index Page", {action: "index", controller: "users"}, :method => "get"%>
        <%= button_to "New User", {action: "new", controller: "users"}, :method => "get"%>
        <%= button_to "Item", {action: "index", controller: "items"}, :methog => "get" %>
    </nav>
    <nav class="body">
    <p>ABOUT US WILL BE WRITTEN HERE</p>
    </nav>