<h1>Virtuseum</h1>
    <br/>
    <nav class="navigation">
        <div class="button"><%= button_to "Current User / Index Page", {action: "index", controller: "users"}, :method => "get"%></div>
        <div class="button"><%= button_to "New User", {action: "new", controller: "users"}, :method => "get"%></div>
        <div class="button"><%= button_to "Items", {action: "index", controller: "items"}, :method => "get" %></div>
    </nav>
    <nav class="body">
    <p>ABOUT US WILL BE WRITTEN HERE</p>
    </nav>