<h1>The Archive Basement</h1>   
    <br/>
        <% @items.each do |item| %>
            <%= link_to image_tag(item.picture), item_path(item)%>
            <p><%= link_to item.name, item_path(item) %></p>
        <% end %>
