<h1>Museum Index Page</h1>
    <%= button_to "New Museum", {:action => "new"}, :method => "get" %>
    <% @museums.each do |museum| %>
    <ul>
        <li><%= link_to museum.name, museum %></li>
    </ul>
    <% end %>