h1{
    color: lightblue;
    text-align: center;
    font-family: sans-serif;
    font-size: xxx-large;
    font-stretch: ultra-expanded;
}
.navigation{
    width:355px;
    height:40px;
    line-height:40px;
    display: table;
}
.button {
    display: table-cell; 
}